BACKEND_PORT=8000
MONGO_RRV_URI=mongodb://localhost:27017/rrv_db
POSTGRES_OFICIAL_HOST=localhost
POSTGRES_OFICIAL_PORT=5432
POSTGRES_OFICIAL_DB=computo_oficial_db
POSTGRES_OFICIAL_USER=postgres
POSTGRES_OFICIAL_PASSWORD=postgres
UPLOADS_DIR=backend/uploads
SMS_PIN_DEFAULT=1234
